#!/bin/bash

# Arguments supplied:
# $1: Selenium node id (numeric)
# $2: display variable in format [host]:<display>[.screen]

export DISPLAY=$2

PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

JAVA_BIN=/usr/bin/java
JAVA_OPTS="-Xms64m -Xmx128m -server"

SELENIUM_DIR={{selenium_home}}/selenium
EXTENSION_DIR={{selenium_extension_dir}}
SELENIUM_JAR_FILE="$SELENIUM_DIR/selenium-server-standalone-{{selenium_version}}.jar"
SELENIUM_JAR_FILES="$EXTENSION_DIR:$SELENIUM_JAR_FILE:$EXTENSION_DIR/*"
CLASS_TO_RUN="com.ericsson.taf.selenium.GridStarter"
SELENIUM_LOG_FILE="$SELENIUM_DIR/selenium-node-$1.log"
SELENIUM_DAEMON_OPTS=" -client -cp $SELENIUM_JAR_FILES $CLASS_TO_RUN -log $SELENIUM_LOG_FILE"

SELENIUM_CMD="$JAVA_BIN $JAVA_OPTS -cp $SELENIUM_JAR_FILES $CLASS_TO_RUN -log $SELENIUM_LOG_FILE -role node"

$SELENIUM_CMD -nodeConfig {{selenium_home}}/node-$1.json
