{
  "host": {{selenium_hub_host}},
  "port": {{selenium_hub_port}},
  "throwOnCapabilityNotPresent": {{throw_on_capability_not_present}},
  "newSessionWaitTimeout": {{new_session_wait_timeout}},
  "capabilityMatcher": "{{capability_matcher}}",
  "prioritizer": {{prioritizer}},
  "servlets" : {{servlets}},
  "browserTimeout": {{browser_timeout}},
  "nodePolling": {{node_polling}},
  "cleanUpCycle": {{clean_up_cycle}},
  "timeout": {{timeout}},
  "maxSession": {{max_session}},
  "jettyMaxThreads": {{jetty_max_threads}}
}